<template>
  <div class="grid grid-cols-1 flex justify-items-start">
    <span class="mb-2">Buscar empresa</span>
    <div class="relative w-full mb-3">
      <input
        class="w-full rounded-sm border-gray-200 p-4 pe-12 text-sm shadow-sm bg-gray-100 focus:outline-none"
        type="text"
        name="input-search"
        placeholder="ej. Culqi"
        v-model="searchText"
        @input="filterList"
      />
      <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
        <myIconComponent icon="search-lens" size="h-6 w-7"/>
      </span>
    </div>
    <div class="fast-filters-container grid grid-flow-col gap-4 snap-x max-w-full overflow-x-auto pb-2">
      <button
        v-for="(filter, n) in rapidFilters"
        :key="n"
        type="button"
        class="scroll-ml-6 snap-start group flex items-center justify-start rounded-full px-4 py-0 border border-gray-200 hover:bg-gray-100">
        <myIconComponent :icon="filter.icon" size="h-4 w-4"/>
        <span class="py-1 pl-2 text-sm">
          {{ filter.text }}
        </span>
      </button>
    </div>
    <div class="company-list-container flex flex-col w-full my-3 divide-y-2">
      <div
        v-for="(item, i) in companyListFiltered"
        :key="i"
        class="px-4 py-3 flex items-center justify-start"
      >
        <img :src="item.image" class="h-10 w-10 mr-4">
        <span>{{ item.company }}</span>
        <myIconComponent
          class="ml-auto"
          :icon="item.favorite ? 'star-filled' : 'star'"
          size="h-9 w-9"
          :color="item.favorite ? 'text-yellow-300' : 'text-gray-400'"
          @click="setCompanyFavorite(i)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import GeneralService from '../services'

export default {
	name:"CompanySearchView",
	components: {

	},
  data() {
    return {
      searchText: '',
      rapidFilters: [
        { icon: 'no-filter', text: 'Todas'},
        { icon: 'star', text: 'Favoritas'},
        { icon: 'phone', text: 'Telefonia'},
        { icon: 'tv', text: 'Cable'},
        { icon: 'light-bulb', text: 'Servicios'},
      ]
    }
  },
	computed:{
    ...mapState(['companyAvailableList']),
    companyListFiltered() {
      return this.companyAvailableList.length > 0
      ? this.companyAvailableList.filter((item) => item.company.toLowerCase().indexOf(this.searchText.trim().toLowerCase()) > -1)
      :[]
    }
  },
	methods: {
    //Store Mutations
    ...mapMutations(['setCompanyList', 'setCompanyFavorite']),

    //Page Services Functions
    async loadCompanyList() {
      this.setCompanyList([])
      GeneralService.getCompanyAvailableList().then((result) => {
        for (let i = 0; i < result.data.companies.length; i++) {
          result.data.companies[i].favorite = false
        }
        this.setCompanyList(result.data.companies)
      }).catch((err) => {
        this.errorHandlerService(err)
      })
		},
    errorHandlerService(data){
      switch (data.code) {
        case 401:
          this.$emit('open-modal', {
            type: 'error',
            title: 'Error de Servicio',
            message: 'Hubo un error al cargar el servicio solicitado, intente mas tarde.'
          })
          this.$router.push({ name: 'notFoundPage'})
        break
      
        default:
          this.$emit('open-modal', {
            type: 'error',
            title: 'Error',
            message: 'Ha ocurrido algo inesperado, estamos trabajando en ello...\n' + data.message
          })
        break
      }
    },
	},
	mounted() {
    this.loadCompanyList()
  },
}

</script>
