<template>
  <div class="flex h-full w-full">
    <div class="m-auto bg-gray-200 rounded-xl px-4 py-4 sm:px-10 sm:py-8">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Bienvenido</h1>
        <p class="mt-2 text-gray-500">Inicia sesión</p>
      </div>
      <form action="" class="mx-auto mb-0 mt-6 max-w-md space-y-4">
        <label for="email" class="sr-only">Correo Electrónico</label>
        <div class="relative">
          <input
            type="email"
            class="w-full rounded-md border-gray-200 p-4 pe-12 text-sm shadow-sm bg-gray-100 focus:outline-none"
            placeholder="Correo"
          />
        </div>
        <label for="password" class="sr-only">Contraseña</label>
        <div class="relative">
          <input
            type="password"
            class="w-full rounded-md border-gray-200 p-4 pe-12 text-sm shadow-sm bg-gray-100 focus:outline-none"
            placeholder="Contraseña"
          />
        </div>
        <div class="flex flex-col items-center justify-center">
          <button
            type="button"
            class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white mb-3"
            @click="showTemporalQuestion()"
          >
            Entrar
          </button>
          <router-link :to="{name: 'paymentsPage'}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ir hacia Recargas y pagos</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import GeneralService from '../services'

export default {
	name:"LoginView",
  props: ['modal'],
	methods: {
    //Page Flow Functions
    async showTemporalQuestion() {
      this.$emit('open-modal', {
        type: 'warning',
        title: 'Inicio de Sesión',
        message: 'Se iniciará una sesion de prueba (ficticia)',
        btnPri: 'De acuerdo'
      })
    },
    async authUser() {
      GeneralService.getUserAuthService().then((result) => {
        if (result === 'OK') { this.$router.push({ name: 'paymentsPage'}) }
      }).catch(() => {
        this.$router.push({ name: 'notAuthPage'})
      })
    }
	},
  watch: {
    modal: function () {
      if (this.modal === true) {
        this.authUser()
      }
    }
  }
}
</script>
