<template>
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-4">401 - Autenticación requerida</h1>
    <p class="text-gray-600">Para visitar ésta pagina debes iniciar sesión.</p>
    
    <div class="mt-4 text-center">
      <router-link :to="{name: 'loginPage'}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ir a iniciar sesión</router-link>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex'

export default {
	name:"NoAuthView",
	components: {

	},
	computed:{
    ...mapState(['userWalletCode','paymentAvailableServices']),
    ...mapGetters(['userBalanceFormated']),
  },
	methods: {
    //Store Mutations
    ...mapMutations(['setUserBalance', 'setUserWalletCode', 'setPaymentServicesList']),

    //Page Services Functions


    //Page Flow Functions

	},
	mounted() {
  },
}

</script>
