<template>
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-4">404 - Página no encontrada</h1>
    <p class="text-gray-600">La página que estás buscando no existe.</p>
    
    <div class="mt-4 text-center">
      <p class="text-gray-600 mb-3">Quizá estabas buscado:</p>
      <router-link :to="{name: 'paymentsPage'}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Recargas y pagos</router-link>
      <router-link :to="{name: 'mobileTopUpPage'}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ml-3">Recarga mobil</router-link>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex'

export default {
	name:"NotFoundView",
	components: {

	},
	computed:{
    ...mapState(['userWalletCode','paymentAvailableServices']),
    ...mapGetters(['userBalanceFormated']),
  },
	methods: {
    //Store Mutations
    ...mapMutations(['setUserBalance', 'setUserWalletCode', 'setPaymentServicesList']),

    //Page Services Functions


    //Page Flow Functions

	},
	mounted() {
  },
}

</script>
