<template>
  <div>
    <AccountStatusComponent
      :balance="userBalanceFormated"
      :code-balance-user="userWalletCode"
      @update-balance="loadUserBalance"
    />
    <span class="my-5 flex h-0.5 bg-gray-300"></span>
    <PaymentItemComponent
      v-for="(item, index) in paymentAvailableServices"
      :key="index"
      :name="item.operationName"
      :icon="item.operationIcon"
      @click="goToService(item.operationPage)"
    />
  </div>
</template>

<script>
import AccountStatusComponent from '../components/AccountStatusComponent.vue'
import PaymentItemComponent from '../components/PaymentItemComponent.vue'
import GeneralService from '../services'
import { mapMutations, mapState, mapGetters } from 'vuex'

export default {
	name:"PaymentsAndRechargeView",
	components: {
    AccountStatusComponent,
    PaymentItemComponent
	},
	computed:{
    ...mapState(['userWalletCode','paymentAvailableServices']),
    ...mapGetters(['userBalanceFormated']),
  },
	methods: {
    //Store Mutations
    ...mapMutations(['setUserBalance', 'setUserWalletCode', 'setPaymentServicesList']),

    //Page Services Functions
		async loadUserBalance () {
      this.setUserBalance('')
      GeneralService.getUserBalance().then((result) => {
        this.setUserBalance(result.data.balanceCommerce)
      }).catch((err) => {
        this.errorHandlerService(err)
      })
		},
    async loadUserWalletCode () {
      this.setUserWalletCode('')
      GeneralService.getUserWalletCode().then((result) => {
        this.setUserWalletCode(result.data.userWalletId)
      }).catch((err) => {
        this.errorHandlerService(err)
      })
		},
    async loadPaymentServicesList () {
      this.setPaymentServicesList([])
      GeneralService.getPaymentAvailableServices().then((result) => {
        this.setPaymentServicesList(result.data)
      }).catch((err) => {
        this.errorHandlerService(err)
      })
		},

    //Page Flow Functions
    errorHandlerService(data){
      switch (data.code) {
        case 401:
          this.$emit('open-modal', {
            type: 'error',
            title: 'Error de Servicio',
            message: 'Hubo un error al cargar el servicio solicitado, intente mas tarde.'
          })
          this.$router.push({ name: 'notFoundPage'})
        break
      
        default:
          this.$emit('open-modal', {
            type: 'error',
            title: 'Error',
            message: 'Ha ocurrido algo inesperado, estamos trabajando en ello...\n' + data.message
          })
        break
      }
    },

    goToService (destination) {
      this.$router.push({ name: destination})
		},

	},
	mounted() {
    this.loadUserBalance()
    this.loadUserWalletCode()
    this.loadPaymentServicesList()
  },
}

</script>
