<template>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-4 flex justify-items-start">
      <div class="group flex items-center">
        <span class="text-lg mr-3">Saldo Virtual</span>
        <button type="button">
          <myIconComponent icon="information-circle" color="text-teal-500"/>
        </button>
      </div>
      <div class="group flex items-center font-bold text-black">
        <div v-if="props.balance === ''" class="animate-pulse rounded-full bg-gray-300 mr-3 h-10 w-32"></div>
        <span v-else class="text-4xl mr-3">{{ props.balance }}</span>
        <button type="button" @click="updateBalance" class="text-teal-500" :disabled="props.balance === ''">
          <myIconComponent icon="arrow-path" color="text-teal-500" :animation="props.balance === '' ? 'animate-spin' : ''"/>
        </button>
      </div>
      <button type="button" class="group flex items-center justify-start rounded-full px-4 py-0 border border-gray-200 hover:bg-gray-100">
        <myIconComponent icon="heart" size="h-4 w-5"/>
        <span class="p-2 text-base">
          ¿Como cargar mi saldo virtual?
        </span>
      </button>
      <div class="group flex items-center">
        <span class="text-lg mr-3">Código para cargar tu saldo:</span>
        <span class="text-lg text-teal-500">{{ props.codeBalanceUser }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'AccountStatusComponent',
  components:{

  },
  props: {
    balance:{
      type: String,
      required: true,
      default: ''
    },
    codeBalanceUser:{
      type: String,
      required: true,
      default: ''
    }
  },
  emits: ['update-balance'],
  setup(props, {emit}){
    //Métodos
    const updateBalance = () => {
      emit('update-balance')
    }

    return {
      props,
      updateBalance
    }
  },
  
})
</script>

<style scoped>
</style>
