<template>
  <header class="bg-gray-800 rounded-b-xl text-white font-sans font-semibold px-4 sm:px-6 lg:px-8 flex h-16 items-center justify-between">
    <div class="md:flex md:items-center md:gap-12">
      <a class="block" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M20.25 12a.75.75 0 01-.75.75H6.31l5.47 5.47a.75.75 0 11-1.06 1.06l-6.75-6.75a.75.75 0 010-1.06l6.75-6.75a.75.75 0 111.06 1.06l-5.47 5.47H19.5a.75.75 0 01.75.75z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    <span class="text-lg">{{ title }}</span>
    <div class="block"></div>
  </header>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'AccountStatusComponent',
  props: ['title'],
  setup(){
    return{}
  }
})
</script>

<style scoped>
</style>
