<template>
  <header class="bg-gray-800 rounded-b-xl text-white font-sans font-semibold px-4 sm:px-6 lg:px-8 flex h-16 items-center justify-between max-w-screen-md mx-auto">
    <div class="md:flex md:items-center md:gap-12">
      <button type="button" @click="$router.go(-1)" title="Volver">
        <myIconComponent icon="arrow-left"/>
      </button>
    </div>
    <span class="text-2xl">{{ title }}</span>
    <button
      v-if="title !== null & title !== 'Página no encontrada' & title !== 'No autorizado'"
      type="button"
      class="p-2 rounded-lg hover:bg-gray-700"
      title="Salir"
      @click="showCloseSession"
    >
      <myIconComponent icon="out-session"/>
    </button>
    <div v-else></div>
  </header>
</template>

<script>
import { defineComponent } from 'vue'
import GeneralService from '../services'

export default defineComponent({
  name: 'AccountStatusComponent',
  props: ['title','modal'],
  methods: {
    async showCloseSession() {
      this.$emit('open-modal-head', {
        from: 'Head',
        type: 'warning',
        title: 'Cerrar Sesión',
        message: '¿Desea salir de la aplicación?',
        btnPri: 'Si',
        btnSec: 'No'
      })
    },
    async closeSession() {
      GeneralService.destroySessionUser().then((result) => {
        if (result === 'OK') { this.$router.push({ name: 'loginPage'}) }
      }).catch(() => {
        this.$router.push({ name: 'loginPage'})
      })
		},
  },
  watch: {
    modal: function () {
      if (this.modal === true) {
        this.closeSession()
      }
    }
  }
})
</script>

<style scoped>
</style>
