<template>
  <div v-html="icons[icon]" :class="color + ' ' + size + ' ' + animation"></div>
</template>

<script>
import { defineComponent, computed  } from 'vue'
import { useStore } from 'vuex'

export default defineComponent({
  name: 'myIconComponent',
  props: {
    icon:{
      type: String,
      required: true,
      default: 'document'
    },
    color:{
      type: String,
      default: 'text-inherit'
    },
    size:{
      type: String,
      default: 'w-6'
    },
    animation:{
      type: String,
      default: ''
    }
  },
  setup(props){
    const store = useStore()
    return {
      props,
      icons: computed(() => store.state.myIcons)
    }
  }
})
</script>

<style scoped>
</style>
