<template>
  <div class="absolute inset-x-0 inset-y-0 z-10 min-h-screen min-w-screen max-h-screen max-w-screen bg-gray-300 sm:bg-gray-300/70 flex" role="dialog" aria-modal="true">
    <div class="modal-container mt-auto sm:m-auto bg-white w-full sm:w-[600px] sm:rounded-lg">
      <div class="modal-header p-3 flex justify-center items-center">
        <div :class=" styleModal.classBg + ' flex h-8 w-8 items-center justify-center rounded-full ml-0'">
          <myIconComponent :icon="styleModal.classIcon" :color="styleModal.classColor" size="w-5"/>
        </div>
        <span class="text-xl font-semibold leading-6 text-gray-900 mx-auto" id="modal-title">{{ getTitle }}</span>
      </div>
      <div class="modal-body p-5 border-t-2 border-gray-100 min-h-24 sm:min-h-fit">
        <p class="text-sm text-gray-500">{{ getMessage }}</p>
      </div>
      <div class="modal-footer p-3 border-t-2 border-gray-200 flex flex flex-col sm:flex-row sm:flex-row-reverse items-center">
        <button
          type="button"
          :class="styleModal.classBg + ' w-full rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm sm:ml-3 sm:w-auto mb-3 sm:mb-0'"
          @click="modalOkAction()"
        >{{ getTextBtnPrimary }}</button>
        <button
          type="button"
          class="w-full rounded-md px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-gray-300 sm:mt-0 sm:w-auto"
          @click="modalCancelAction()"
        >{{ getTextBtnSecondary }}</button>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, computed  } from 'vue'
import { useStore } from 'vuex'

export default defineComponent({
  name: 'myModalComponent',
  props: {
    type:{
      type: String
    },
    title:{
      type: String,
      required: true
    },
    message:{
      type: String,
      required: true
    },
    textBtnPrimary: {
      type: String
    },
    textBtnSecondary:{
      type: String
    },
  },
  emits: ['close-modal'],
  setup(props, {emit}){
    const store = useStore()

    const modaTypesIcons = {
      default: {classIcon:'bell-alert', classColor: 'text-blue-100', classBg: 'bg-blue-600'},
      success: {classIcon:'check-circle', classColor: 'text-green-100', classBg: 'bg-green-600'},
      info: {classIcon:'information-solid', classColor: 'text-sky-100', classBg: 'bg-sky-600'},
      warning: {classIcon:'exclamation-triangle', classColor: 'text-orange-100', classBg: 'bg-orange-600'},
      error: {classIcon:'x-circle', classColor: 'text-red-100', classBg: 'bg-red-600'},
    }

    const modalOkAction = () => {
      emit('close-modal', 'Y')
    }

    const modalCancelAction = () => {
      emit('close-modal', 'N')
    }

    const obtainIconModal = (val) =>  {
      return modaTypesIcons[val]
    }

    return {
      props,
      obtainIconModal,
      modalOkAction,
      modalCancelAction,

      icons: computed(() => store.state.myIcons),

      styleModal: computed(() => {
        return(props.type !== undefined & props.type !== null) ? 
              (props.type.trim() !== '' ? obtainIconModal(props.type) : obtainIconModal('default')) :
              obtainIconModal('default')
      }),
      getType: computed(() => {
        return(props.type !== undefined & props.type !== null) ? 
              (props.type.trim() !== '' ? props.type : 'default') :
              'default'
      }),
      getTitle: computed(() => {
        return(props.title !== undefined & props.title !== null) ? 
              (props.title.trim() !== '' ? props.title : 'Notificación') :
              'Notificación'
      }),
      getMessage: computed(() => {
        return(props.message !== undefined & props.message !== null) ? 
              (props.message.trim() !== '' ? props.message : '¿Realizar acción?') :
              '¿Realizar acción?'
      }),
      getTextBtnPrimary: computed(() => {
        return(props.textBtnPrimary !== undefined & props.textBtnPrimary !== null) ? 
              (props.textBtnPrimary.trim() !== '' ? props.textBtnPrimary : 'Ok') :
              'Ok'
      }),
      getTextBtnSecondary: computed(() => {
        return(props.textBtnSecondary !== undefined & props.textBtnSecondary !== null) ? 
              (props.textBtnSecondary.trim() !== '' ? props.textBtnSecondary : 'Cancelar') :
              'Cancelar'
      })
    }
  }
})
</script>

<style scoped>
</style>
