<template>
  <button class="bg-gray-100 rounded-lg px-4 flex h-16 items-center justify-start mb-4 w-full" type="button">
    <div class="bg-orange-500 rounded-md flex items-center justify-center h-9 w-9 mr-4">
      <myIconComponent :icon="icon" color="text-white"/>
    </div>
    <span class="text-lg text-black">{{ name }}</span>
  </button>
</template>

<script>
import { defineComponent, computed  } from 'vue'
import { useStore } from 'vuex'

export default defineComponent({
  name: 'PaymentItemComponent',
  props: {
    name:{
      type: String,
      required: true,
      default: '-'
    },
    icon:{
      type: String,
      required: true,
      default: 'document'
    }
  },
  setup(props){
    const store = useStore()

    return {
      props,
      icons: computed(() => store.state.myIcons),
    }
  },
  
})
</script>

<style scoped>
</style>
