<template>
  <div class="bg-white text-gray-600 font-medium min-h-screen max-h-screen relative">
    <HeaderComponent
      v-if="appTitle !== null"
      :title="appTitle"
      :modal="modalRespHead"
      @open-modal-head="showModal"
    />
    <main :class="'py-4 px-4 sm:px-6 lg:px-8 max-w-screen-md mx-auto overflow-auto ' + (appTitle !== null ? 'h-[calc(100vh-64px)]' : 'h-screen')">
      <RouterView
        :modal="modalRespView"
        @open-modal="showModal"
      />
    </main>
    <myModalComponent
      v-show="openModal"
      :type="typeModal"
      :title="titleModal"
      :message="messageModal"
      :textBtnPrimary="btnPrimary"
      :textBtnSecondary="btnSecondary"
      @close-modal="hideModal"
    />
  </div>
</template>

<script>
import HeaderComponent from './components/HeaderComponent.vue'
import myModalComponent from './components/myModalComponent.vue'
import { mapState } from 'vuex'

export default {
	name:"App",
	components: {
    HeaderComponent,
    myModalComponent
	},
	computed:{
    ...mapState(['appTitle'])
  },
  data() {
    return {
      openModal: false,
      typeModal: '',
      titleModal: '',
      messageModal: '',
      btnPrimary: '',
      btnSecondary: '',

      modalRespView: null,
      modalRespHead: null,

      modalTo: 'View'
    }
  },
  methods: {
    showModal(params) {
      params.from !== undefined ? this.modalTo = params.from : this.modalTo = 'View'
      this.modalRespView = null
      this.modalRespHead = null

      this.typeModal = params.type
      this.titleModal = params.title
      this.messageModal = params.message
      this.btnPrimary = params.btnPri
      this.btnSecondary = params.btnSec

      this.openModal = true
    },
    hideModal(response) {
      if (response === 'Y') {
        this['modalResp' + this.modalTo] = true
      } else {
        this['modalResp' + this.modalTo] = false
      }
      this.openModal = false
    }
  }
}
</script>

<style scoped>
</style>
